[Desktop Entry]
Name=Merisio
Comment=MERISE database modeling tool
Exec=/home/achraf/Documents/GolandProjects/AchrafSoltani/AnalyseSI/venv/bin/python /home/achraf/Documents/GolandProjects/AchrafSoltani/AnalyseSI/main.py
Icon=merisio
Terminal=false
Type=Application
Categories=Development;Database;
StartupWMClass=merisio
